<img src="https://github.com/insaid2018/Term-1/blob/master/Images/INSAID_Full%20Logo.png?raw=true" width="240" height="360" />

# ASSIGNMENT
# LOGISTIC REGRESSION
# New chnges done for repo


##  Bank Marketing


**Abstract:** 
The data is related with __direct marketing campaigns__ (phone calls) of a Portuguese banking institution. The classification goal is to predict if the client will subscribe a __term deposit (variable y)__.

**Data Set Information:**
The data is related with direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the __product (bank term deposit)__ would be __('yes')__ or __('no')__ subscribed. 

###  Source:

 - Dataset from : http://archive.ics.uci.edu/ml/datasets/Bank+Marketing#

### Import the dataset

In [1]:
import pandas as pd
bank = pd.read_csv('D://Python Dataset//bank.csv')
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

### Check the columns present in the dataset

In [2]:
bank.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

### Check the shape of Dataset

In [3]:
bank.shape

(10297, 21)

### Check the descriptive statistics of the dataset

In [3]:
bank.describe()

,age,balance,day,duration,campaign,pdays,previous
count,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000
mean,41.170095,1422.657819,15.915284,263.961292,2.793630,39.766645,0.542579
std,10.576211,3009.638142,8.247667,259.856633,3.109807,100.121124,1.693562
min,19.000000,-3313.000000,1.000000,4.000000,1.000000,-1.000000,0.000000
25%,33.000000,69.000000,9.000000,104.000000,1.000000,-1.000000,0.000000
50%,39.000000,444.000000,16.000000,185.000000,2.000000,-1.000000,0.000000
75%,49.000000,1480.000000,21.000000,329.000000,3.000000,-1.000000,0.000000
max,87.000000,71188.000000,31.000000,3025.000000,50.000000,871.000000,25.000000

### Check the info of the dataset

In [4]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
age          4521 non-null int64
job          4521 non-null object
marital      4521 non-null object
education    4521 non-null object
default      4521 non-null object
balance      4521 non-null int64
housing      4521 non-null object
loan         4521 non-null object
contact      4521 non-null object
day          4521 non-null int64
month        4521 non-null object
duration     4521 non-null int64
campaign     4521 non-null int64
pdays        4521 non-null int64
previous     4521 non-null int64
poutcome     4521 non-null object
y            4521 non-null object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

### Q 1. Write a code to understand the below mentioned variables and print their 'unique' attributes.
``` ['job', 'marital', 'education', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'campaign','poutcome', 'pdays', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m'] ```

In [5]:
def log():
    print('Job have these unique values:',bank['job'].unique())
    print('Marital have these unique values:',bank['marital'].unique())
    print('Education have these unique values:',bank['education'].unique())
    print('Housing have these unique values:',bank['housing'].unique())
    print('Loan have these unique values:',bank['loan'].unique())
    print('Default have these unique values:',bank['default'].unique())
    print('Contact have these unique values:',bank['contact'].unique())
    print('Month have these unique values:',bank['month'].unique())
    #print('Day_of_week have these unique values:',bank['day_of_week'].unique())
    print('Campaign have these unique values:',bank['campaign'].unique())
    print('Poutcome have these unique values:',bank['poutcome'].unique())
    print('Pdays have these unique values:',bank['pdays'].unique())
    #print('emp.var.rate have these unique values:',bank['emp.var.rate'].unique())
    #print('cons.price.idx have these unique values:',bank['cons.price.idx'].unique())
    #print('cons.conf.idx have these unique values:',bank['cons.conf.idx'].unique())
    #print('euribor3m have these unique values:',bank['euribor3m'].unique())
log()

Job have these unique values: ['unemployed' 'services' 'management' 'blue-collar' 'self-employed'
 'technician' 'entrepreneur' 'admin.' 'student' 'housemaid' 'retired'
 'unknown']
Marital have these unique values: ['married' 'single' 'divorced']
Education have these unique values: ['primary' 'secondary' 'tertiary' 'unknown']
Housing have these unique values: ['no' 'yes']
Loan have these unique values: ['no' 'yes']
Default have these unique values: ['no' 'yes']
Contact have these unique values: ['cellular' 'unknown' 'telephone']
Month have these unique values: ['oct' 'may' 'apr' 'jun' 'feb' 'aug' 'jan' 'jul' 'nov' 'sep' 'mar' 'dec']
Campaign have these unique values: [ 1  4  2  5  3  6 18 10  9  7 12 14 13 24 11  8 29 32 16 22 15 30 25 21
 17 19 23 20 50 28 31 44]
Poutcome have these unique values: ['unknown' 'failure' 'other' 'success']
Pdays have these unique values: [ -1 339 330 176 147 241 152 105 342 101   5  92  56 170 182 297 196 460
 137 367 145 169 207 266 288 168 345 436  90 183 146 335 347 119   7 271
 181  88 141 126  61 373 351 242  62  91 308 250 172 265  78  28  79   1
 188 167  89 164 462 209 321 254  94 364  96 356 149 363 275 325 341 260
 358  87 303  98 327 337 322 102  99 370  84 212  63  81 191 360 332  80
  85 247 150 175 382 261 336  58 206 112 199 133 208 253 135 278 140 298
 273 124 281 162 323 349 117   2 256 333 116 268 136 198 357 259 353 174
 371 205 246  69 315 110 461 184 270 127 187  64 130 346 100 352 808 113
 378 292 287 107 293 139 138 193 274  97 103 359 185 674 211 300 334 280
 479  95 262 362 225   3 366  60 190 368 122 343 131 365 299 115 316 180
 154 313 264 350  73 232 204 143 375 186 344 210 248 177 221 189 104 258
 305 171 120 317 178 386 118 404 374 282 179 284 227 291 173 871 238 294
 222 435 340 426 239  83 111 415 255 235 244  38 683 329  59 151 192 158
 338 388 165 348 197 295 109 484 326 369 397 414 319 474  93 249 272 355
 195  82 541 231 153 201 761 114 385 267 161 467  75 106 223 312 148 309
 283  86 166 160 450 500 311 123 159 687 224 361  74  76 286  77  57 219
 331 804 144 234]

### Q 2. Write a code to check the min and max value of age. Also check if there is any null value or not.

In [7]:
def log():
    print('Max age: ', bank['age'].max())
    print('Min age: ', bank['age'].min())
    print('Missing values: ', bank.isnull().any())
log()

Max age:  87
Min age:  19
Missing values:  age          False
job          False
marital      False
education    False
default      False
balance      False
housing      False
loan         False
contact      False
day          False
month        False
duration     False
campaign     False
pdays        False
previous     False
poutcome     False
y            False
dtype: bool

### Count of Yes and No for the term deposit

In [8]:
bank.y.value_counts()

no     4000
yes     521
Name: y, dtype: int64

### Q 3. Write a user defined function to calculate the Inter quartile range for quantile values outside 25 to 75 range. And do the outlier capping for lower level with min value and for upper level with 'q3=1.5*iqr' value.

In [9]:
def remove_outlier(df_in, col_name):
    q1 = df_in[col_name].quantile(0.25)
    q3 = df_in[col_name].quantile(0.75)
    iqr = q3-q1 
    lower_bound = df_in[col_name].min()
    upper_bound = q3+1.5*iqr
    print('Column',col_name,'IQR lower bound and upper bound are', lower_bound, 'and', upper_bound, 'respectively')
    df_out = df_in.loc[(df_in[col_name] > lower_bound) & (df_in[col_name] < upper_bound)]
    return df_out

### Q 3.1 Using the above created function , remove the outlier from 'age' variables:

In [10]:
def log(bank):
    return remove_outlier(bank, 'age')
bank = log(bank)

Column age IQR lower bound and upper bound are 19 and 73.0 respectively

### Q 3.2 Using the above created function , remove the outlier from 'campaign' variables:

In [13]:
def log(bank):
    return remove_outlier(bank, 'campaign')
bank = log(bank)

Column campaign IQR lower bound and upper bound are 1 and 6.0 respectively

### Q 3.3 Using the above created function , remove the outlier from 'duration' variables:

In [14]:
def log(bank):
    return remove_outlier(bank, 'duration')
bank = log(bank)

Column duration IQR lower bound and upper bound are 4 and 669.0 respectively

### Dividing dataset into two, on the basis of categorical and numerical.

In [13]:
bank_cat=bank[['job', 'marital','default', 'education', 'loan', 'housing', 'contact', 'month', 'poutcome', 'y']]

In [11]:
bank_cont = bank.drop(['job', 'marital','default', 'education', 'loan', 'housing', 'contact', 'month', 'poutcome', 'y'], axis=1)

### Q 4. Label encode the below mentioned categorical variable to numerical values.
``` ['job', 'marital','default','education', 'loan', 'housing', 'contact', 'month', 'day_of_week', 'poutcome', 'y'] ```

In [14]:
def log(bank_cat):
    from sklearn.preprocessing import LabelEncoder
    return bank_cat.apply(LabelEncoder().fit_transform)
bank_cat = log(bank_cat)

### Combining the numerical and categorical dataset.

In [15]:
bank_final= pd.concat([bank_cont, bank_cat], axis = 1)

### Q 6. Extract the independent columns to prepare X

In [16]:
X = pd.DataFrame()
def log():
    X = bank_final.loc[:,bank.columns != 'y']
    return X
X = log()

In [17]:
X.head()

,age,balance,day,duration,campaign,pdays,previous,job,marital,default,education,loan,housing,contact,month,poutcome
0,30,1787,19,79,1,-1,0,10,1,0,0,0,0,0,10,3
1,33,4789,11,220,1,339,4,7,1,0,1,1,1,0,8,0
2,35,1350,16,185,1,330,1,4,2,0,2,0,1,0,0,0
3,30,1476,3,199,4,-1,0,4,1,0,2,1,1,2,6,3
4,59,0,5,226,1,-1,0,1,1,0,1,0,1,2,8,3

### Q 7. Extract dependent column into a dataframe 'y' for model prediction

In [18]:
y = pd.DataFrame()
def log():
    y = bank_final.loc[:,bank_final.columns == 'y']
    return y
y = log()

### Q 8. Splitting X and y into train and test dataset

In [21]:
from sklearn.model_selection import train_test_split
def log():
    return train_test_split(X, y, test_size=0.25, random_state=1) 
X_train, X_test, y_train, y_test = log()

### Check the shape of X and y of train dataset.

In [23]:
def log():
    print(X_train.shape)
    print(y_train.shape)
log()

(3354, 16)
(3354, 1)

### Check the shape of X and y of test dataset.

In [24]:
def log():
    print(X_test.shape)
    print(y_test.shape)
log()

(1119, 16)
(1119, 1)

### Q 9. Instantitate Logistic Regression model using scikit-learn

In [25]:
from sklearn.linear_model import LogisticRegression
def log():
    logreg = LogisticRegression()
    return logreg
logreg = log()

### Q 10. Fit the logistic model on X_train and y_train

In [26]:
def log():
    logreg.fit(X_train,y_train)
log()

C:\Users\abhishek.lohiya\AppData\Local\Continuum\miniconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\abhishek.lohiya\AppData\Local\Continuum\miniconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

### Q 11. Using the model for prediction

In [27]:
y_pred_train = pd.DataFrame()
def log():
    y_pred_train = logreg.predict(X_train)
    return y_pred_train
y_pred_train = log()

In [28]:
y_pred_test = pd.DataFrame()
def log():
    y_pred_test = logreg.predict(X_test)
    return y_pred_test
y_pred_test = log()

### Q 12. Model evaluation using accuracy classification score

In [29]:
from sklearn.metrics import accuracy_score
def log():
    print('Accuracy score for test data is:', accuracy_score(y_test,y_pred_test))
log()

Accuracy score for test data is: 0.8748882931188561

### Q 13. Model evaluation using Confusion matrix

In [30]:
from sklearn.metrics import confusion_matrix
confusion_matrix = pd.DataFrame(confusion_matrix(y_test, y_pred_test))
def log():
    confusion_matrix.index = ['Actual No_Deposit','Actual Deposit']
    confusion_matrix.columns = ['Predicted No_Deposit','Predicted Deposit']
    print(confusion_matrix)
log()

                   Predicted No_Deposit  Predicted Deposit
Actual No_Deposit                   962                 21
Actual Deposit                      119                 17

### Q 14. Accuracy prediction setting the threshold = 0.75

In [31]:
import numpy as np
def log():
    preds1 = np.where(logreg.predict_proba(X_test)[:,1]> 0.75,1,0)
    print('Accuracy score for test data is:', accuracy_score(y_test,preds1))
log()

Accuracy score for test data is: 0.8766756032171582

### Q 15. Accuracy prediction setting the threshold = 0.25

In [32]:
def log():
    preds2 = np.where(logreg.predict_proba(X_test)[:,1]> 0.25,1,0)
    print('Accuracy score for test data is:', accuracy_score(y_test,preds2))
log()

Accuracy score for test data is: 0.8677390527256479